.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 10px 30px;
    outline: 2px solid rgb(0, 0, 0);
    max-width: 50%;
}

.display{
    outline: 2px solid rgb(0, 0, 0);
    width: 50%;
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 20px;
}

.header{
    padding: 10px 0;
    margin: 0;
    font-weight: bolder;
}

.container{
    display: flex;
    gap: 10px;
}

.display2{
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 100%;
}

.input_field{
    width: 80%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

textarea{
    resize: none;
}

.dates{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.error{
    font-size: .8rem;
    color: red;
}

@media (max-width: 430px) {
    .container{
      flex-direction: column;
    }

    .form{
        max-width: 80%;
    }

    .display{
        flex: auto;
        padding: 10px;
        width: 90%;
    }
}